{% load static %}
<div class="site-footer">
    <span>Find me on</span>

    <div class="social-icons">
        <a href="mailto:armin-lambda@gmail.com" target="_blank">
            <img src="{% static 'public/images/gmail-icon.webp' %}" alt="social-icon" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/armin-emami/" target="_blank">
            <img src="{% static 'public/images/linedin-icon.webp' %}" alt="social-icon" class="social-icon">
        </a>
        <a href="https://t.me/armin_lambda" target="_blank">
            <img src="{% static 'public/images/telegram-icon.webp' %}" alt="social-icon" class="social-icon">
        </a>
        <a href="https://github.com/armin-lambda" target="_blank">
            <img src="{% static 'public/images/github-icon-2.jpeg' %}" alt="social-icon" class="social-icon-github">
        </a>
    </div>
</div>
